{
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "semi": true,
  "singleQuote": false,
  "useTabs": false,
  "printWidth": 100,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "bracketSpacing": true
}
